/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}

body {
	font-family: 'Roboto',sans-serif;
	min-height: 100vh;
}

div.container {
	display: grid;
	grid-template: "sidebar header" "sidebar books";	
	grid-template-columns: 2fr 6fr;
	grid-template-rows: 1fr 5fr;
	min-height: 100vh;
}

div.header {
	grid-area: header;
	background: #1e293b;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 54px;
	box-shadow: 1px 1px 2px 2px rgb(83, 82, 82);
}

div.sidebar {
	grid-area: sidebar;
	background: #64748b;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

h1 {
	margin-top: 3vh;
	font-size: 48px;
	color: white;
}

.inputs {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	gap: 4vh;
	font-size: 24px;
	background: #1e293b;
	padding: 1rem;
	border-radius: 1rem;
	color: white;
}	

.input-area1 {
	grid-row: 1;
	display: flex;
	gap: 1vw;
	justify-content: space-around;
}

.input-area2 {
	grid-row: 2;
	display: flex;
	gap: 1vw;
	justify-content: space-around;
}

.input-area3 {
	grid-row: 3;
	display: flex;
	gap: 1vw;
	justify-content: space-around;
}

.input-area4 {
	grid-row: 4;
	display: flex;
	gap: 1vw;
	margin-left: 5vw;
	align-items: center;

}

input#title,
input#pages,
input#author {
	width: 10vw;
}

img {
	width: 100%;
	height: 100%;
}

div.books {
	grid-area: books;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
	background: #c7c7c8;
	padding: 40px;
	gap: 40px;
}

.book {
	background: #94a3b8;
	padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgb(180, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 7px solid #0e0f0e;
	height: 20vh;
	gap: 15px;

}

.remove {
	width: 5rem;
	align-self: self-end;
	margin-right: 2rem;
}

button {
	height: 3rem;
	width: 5rem;
	font-size: 1rem;
	border: 2px solid rgb(121, 119, 119);
	border-radius: 10px;
}

button:active {
	background: rgb(59, 59, 59);
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

p {
	font-size: 1.5rem;
}

input:hover,
input:focus {
	background: lightgray;
}

input#read {
	height: 2rem;
	width: 2rem;
}

div.check {
	display: flex;
	align-items: center;
	font-size: 20px;
}

div.buttons {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	gap: 1em;
}

div.forButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

em {
	font-style: italic;
}

.form {
	width: 10rem;
	height: 10rem;
	border-radius: 50rem;
}

i.material-icons {
	font-size: 80px;
}

.create {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vh;
}

p.forms {
	font-size: 50px;
}

div.forms {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vh;
}

p.read {
	color: #080808;
}


